.result-autocompletion--codePostal{
    background:white;
    color:black;
}
.result-autocompletion--codePostal{ 
    cursor:pointer;
    &:hover{ 
        background-color:rgb(209, 137, 2)!important; 
    }
}
