.card{ 
    width:18rem;
    margin-inline:auto;
}
.btn-fetch-data{
    margin-inline:auto;
    justify-content: center;
}
.cardCinema{ 
    cursor:pointer;
    &:hover{ 
        background:green !important; 
    }
}
.CardClic{ 
    padding:25px; 
    margin-inline:auto;
}
.trajet{
    display:flex;
    padding:25px;
}