.card{ 
    width:25vw;
    margin-inline:auto;
    position:absolute !important; 
    top:50% ; 
    left: 50%; 
    transform:translate(-50%,-50%);
    background-color:rgba(214, 214, 214, 0.925) !important;
    padding:15px;
    text-align:center;
}
.card-body{
}
.card-title{
    color:rgb(209, 137, 2); 
    font-family:$font-family--subtitle;
    font-size:40px !important;
}
.card-text{
    color:black; 
    font-size:18px;
    font-family:$font-family--regular;
}
.btn-fetch-data{
    margin-inline:auto;
    justify-content: center;
}
.cardCinema{ 
    border-radius:15px;
    position:relative !important;
    background-color:#cecece !important;
    cursor:pointer;
    &:hover{ 
        .card-text{
            
        }
        .card-title{
            color:black;
        }
        background:rgb(209, 137, 2)!important;
    }
}
.CardClic{ 
    padding:25px; 
    color:rgb(209, 137, 2)!important;
    display:flex; 
    width:fit-content; 
    margin-inline:auto;
    padding-top: 120px;
    padding-bottom: 20px;
}
.trajet{
    display:flex;
    padding:25px;
}
.button__rechercheCinema{ 
    margin:15px !important;
    background-color:rgb(209, 137, 2)!important; 
    border-color:black!important;
    color:black!important;
    font-family: $font-family--subtitle!important;
    transition:all 0.5s ease-in-out!important;
    &:hover{
        border-color:rgb(209, 137, 2)!important;
        background-color:black!important;
        transition:all 0.5s ease-in-out!important;
        color:rgb(209, 137, 2)!important;
    }
}

