@import "../../node_modules/bootswatch/dist/cyborg/_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/cyborg/bootswatch";

@import './components/_card.scss';
@import './components/_autocompletion.scss';

@import './pages/_index.scss';
@import './pages/_trajets.scss';
@import './pages/_adress.scss';