.trajet-container{
    background-color:white;
    width:fit-content;
    margin-inline: auto;
    margin-block: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(102, 102, 102);
    padding: 15px;
    cursor:pointer; 
    &:hover{
        background-color:green;
        transition:all 1s ease-in-out;
    }
}
.trajet-horaire{
    font-size:1.5em;
}
.colorLine{
    padding:5px;
    border-radius:50%;
}
.sections{ 
    padding:15px;
}
.section{
    padding-block:10px;
    display:block !important;
    // flex-direction:column;
}
// .trajet_commercialMode{
//     display:block;
// }