.trajet-container{
    background-color:white;
    width:fit-content;
    margin-inline: auto;
    margin-block: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(102, 102, 102);
    padding: 15px;
    cursor:pointer; 
    &:hover{
        background-color:rgb(209, 137, 2)!important;
        .trajet-horaire{
            color:black; 
        }
        .sections{
            color:black; 
        }
    }
}
.trajet-horaire{
    font-size:1.5em;
}
.colorLine{
    padding:5px;
    border-radius:50%;
}
.sections{ 
    padding:15px;
}
.section{
    padding-block:10px;
    display:block !important;
}
#map{
    width:80vw !important;
}
.trajets--modal .header{
    position:inherit !important;
}

.trajets--modal{
    .trajet-container{
        &:hover{
            background-color:white !important;
            .trajet-horaire{
                color:inherit !important; 
            }
            .sections{
                color:inherit !important; 
            }
        }
    }
}